.body {
  background-color: #0b345a;
  position: relative;
  height: 100%;
  overflow-y: auto;
}

.body h1,
.body p,
.body h2 {
  font-family: 'Poly', 'Poppins', sans-serif;
  font-size: 2em;
  color: #fff;
  text-align: center;
}
/*controls everything within the image section text buttons image */
.img-container {
  position: relative;
  height: 100vh;

  .textOverLayed {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.393);
    padding: 10px;
    border-radius: 10px;
    color: #0b345a;
    z-index: 2;
  }

  .textOverLayed h1 {
    color: #0b345a;
  }

  .textOverLayed p {
    font-size: 1.2em;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.5;
    color: #0b345a;
    font-family: 'Poly', 'Poppins', sans-serif;
  }
  .textOverLayed .join-button {
    background-color: #0b345a;
    color: #fff;
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'Poly', 'Poppins', sans-serif;
  }

  .textOverLayed .join-button:hover {
    background-color: #bbdefb;
    color: #0b345a;
    
  }

  .coverimage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
/*creates two cells for non members and members*/
.elibility-container,
.aboutUs-container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  overflow: visible;

  
}
/*changing both containers so we don't repeat too much code */
.elibility-container h1,
.aboutUs-container h1 {
  text-align: center;
  margin: 0;
  color: #ffff;
  width: 100%;
}
.prospectiveMembers,
.nonMemberParticipation {
  flex-basis: calc(50% - 20px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}
.prospectiveMembers h1,
.nonMemberParticipation h1 {
  color: #ffff;
  font-size: 1em;
}
.prospectiveMembers p,
.nonMemberParticipation p,
.aboutUs-container p,
.feature p {
  color: #bbdefb;
  font-size: medium;
  text-align: center;
}
.prospectiveMembers b {
  color: #ffff;
}
.upcomingEvents-button,
.constitution-button {
  background-color: #bbdefb;
  color: #0b345a;
  font-size: 1em;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  font-family: 'Poly', 'Poppins', sans-serif;
}
.constitution-button {
  display: block;
  margin: 0 auto;
  text-align: center;
  align-self: center;
}
.upcomingEvents-button:hover,
.constitution-button:hover {
  background-color: #0b345a;
  color: #ffff;
}

/*aboutUs section*/
.aboutUs-container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.qualitiesingrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.feature {
  width: 100%;
  padding: 20px;
  color: #fff;
  text-align: center;
}

.feature h2 {
  margin-bottom: 10px;
  color: #ffff;
  font-family: 'Poly', 'Poppins', sans-serif;
  font-size: 1em;
}

.feature:hover {
  background-color: rgba(255, 255, 255, 0.393);
  border-radius: 5px;
}

.recentEvent-container {
  position: relative;
  height: 20%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  
}
.carousel-container {
  justify-content: space-between;
  align-items: left;
}
.google-calendar-container {
  text-align: center;
}

.center-iframe {
  display: flex;
  justify-content: center;
  align-items: center;
}







